<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>First Push</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<!-- Bootstrap -->
  	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
  	<link href="/webjars/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen" />
  	<link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">

  	  <div class="row">
  	  	<div class="col-md">
  	  	  <img src="/images/CFF_Logo_vertical_RGB.png" class="img-fluid mx-auto d-block logo" alt="Cloud Foundry Logo" />
  	  	</div>
  	  </div>

  	  <div class="row">
  	  	<div class="col-md">
  	  	  <p class="lead text-center">Congratulations! You have a running app.</p>
  	  	</div>
  	  </div>

      <div class="row justify-content-md-center app-details">
        <dl class="row">
          <dt class="col-sm-3 text-right">App Name</dt>
          <dd class="col-sm-9" th:text="${appName}">app name</dd>
          <dt class="col-sm-3 text-right">App Instance Index</dt>
          <dd class="col-sm-9" th:text="${instanceIndex}">app instance index</dd>
          <dt class="col-sm-3 text-right">Database</dt>
          <dd class="col-sm-9" th:text="${database}">database</dd>
          <dt class="col-sm-3 text-right">Space Name</dt>
          <dd class="col-sm-9" th:text="${spaceName}">space name</dd>
        </dl>
      </div>
      <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

    </div>
  </body>


</html>
